
.container1::before{
    
    width:100%;
    
 }
 
 .edusite{
     width: 100%;
     text-align: center;  
 }
 .edusite p{
     font-size: 1.3rem;
 }
 .animation{
     margin: auto;
    top: 158px;
    left: 5px;
 }
 .container2{
   width: 100%;
 }
 .container3{
     width: 100%;
 }
 .container4{
     width: 100%;
 }
 .container5{
     width: 100%;
 }
 .container6{
     width: 100%;
 }
 .container8{
     width: 100%;
 }
 .container9{
     width: 100%;
 }
 .container10{
    width: 100%;
 }
 .container11{
    width: 100%;
 }
 .container12{
    width: 100%;
 }
 .container13{
    width: 100%;
 }